<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PointOfSaleSystem.Properties.Settings.pointofsaleConnectionString"
            connectionString="server=localhost;User Id=root;database=pointofsale"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>